*{
  		
  		margin: 0;
  		padding: 0;
  		box-sizing: border-box;
  		scroll-behavior: smooth;

  	}


/***********************Extra header div css Start ************/


/************* this css apply all selected elements ***********/

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}
i {
	color: #2fccd0;
}

/************* all selected elements end ***********/


button:hover{
	background-color: #333!important;
	color: white!important;
	text-decoration: none!important;
}

button a:hover{
	color:white;
	text-decoration: none
}
.header-extradiv{
	width: 100%;
	height: auto;
	margin: 100px 0px;
	text-align: center;
}

.extra-div{
	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 30px;
	transition: 0.3s;
	margin-top: 20px;
}

.extra-div h2, .servicediv h2{
	font-size: 0.9rem;
	margin: 20px 0px 15px 0px;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;

}

.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}

/***********************Extra header div css end ************/




/*********************** Service offer css start ************/
.serviceoffers{
	background-color: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px
}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.names h1{
	color: #2e2e2e;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase; 
}

.service-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress{
	height: 0.7rem!important;
	margin-bottom: 25px!important;
	background: #606060;

}

/*********************** Service offer css End ************/


/*********************** Footer start ************/

}
div ul li a{
  color:  #051937;
}
div ul li a:hover{
  text-decoration: none;
  color:  #051937;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #8DB9ED;
}
.generic-anchor:visited {
  color: #8DB9ED;
}
.generic-anchor:hover {
  color: #ccc;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}



footer {
  background: #F5F3F7 ;
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #F5F3F7;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 1em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}

  	

/*********************** Footer End ************/
