*{
  		font-family: monospace;
  		margin: 0;
  		padding: 0;
  		box-sizing: border-box;

  	}


/***********************Extra header div css Start ************/


/************* this css apply all selected elements ***********/

p{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}
i {
	color: #2fccd0;
}

/************* all selected elements end ***********/


button:hover{
	background-color: #333!important;
	color: white!important;
	text-decoration: none!important;
}

button a:hover{
	color:white;
	text-decoration: none
}
.header-extradiv{
	width: 100%;
	height: auto;
	margin: 100px 0px;
	text-align: center;
}

.extra-div{
	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 30px;
	transition: 0.3s;
}

.extra-div h2, .servicediv h2{
	font-size: 0.9rem;
	margin: 20px 0px 15px 0px;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;

}

.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}

/***********************Extra header div css end ************/




/*********************** Service offer css start ************/
.serviceoffers{
	background-color: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px
}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.names h1{
	color: #2e2e2e;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase; 
}

.service-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress{
	height: 0.7rem!important;
	margin-bottom: 25px!important;
	background: #606060;

}

/*********************** Service offer css End ************/


